<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load custom_tags %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}My Django Website{% endblock %}</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_head %} 
    <!-- Additional head content goes here -->
    {% endblock %}
</head>
<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo"><span>My Django Website</span></div>
            <div id="menu-button"><i data-lucide="menu"></i></div>
            <nav id="menu">
                <ul>
                    <li class="{% is_active 'home' %}"><a href="{% url 'home' %}">Home</a></li>
                    <li class="{% is_active 'about' %}"><a href="{% url 'about' %}">About</a></li>
                    <li><a href="">Projects</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p class="legal">&copy; 2024 My Django Website | Build by</p>
        </div>
    </footer>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{% static 'js/styles.js' %}"></script>
    {% block extra_js %}
    <!-- Additional scripts go here -->
    {% endblock %}
</body>
</html>
