<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load custom_tags %}
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}My Django Website{% endblock %}</title>
        <meta name="description" content="{% block description %}Your page description goes here.{% endblock %}">
        <meta name="keywords" content="{% block keywords %}keyword1, keyword2, keyword3{% endblock %}">
        <meta name="robots" content="index, follow"> 
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:image" content="{% block twitter_image %}{% static 'images/default-twitter-image.jpg' %}{% endblock %}">
        <meta name="twitter:title" content="{% block twitter_title %}Your Page Title{% endblock %}">
        <meta name="twitter:description" content="{% block twitter_description %}Your page description for Twitter.{% endblock %}">
        <meta property="og:image" content="{% block og_image %}{% static 'images/default-og-image.jpg' %}{% endblock %}">
        <meta property="og:title" content="{% block og_title %}Your Page Title{% endblock %}">
        <meta property="og:description" content="{% block og_description %}Your page description for social media.{% endblock %}">
        <meta property="og:url" content="{% block og_url %}https://yourwebsite.com/page-url{% endblock %}">
        <meta property="og:type" content="website">

        {% block extra_head %} 
        {% endblock %}
        
        <!-- Link to external CSS file -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    
<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo"><span>My Django Website</span></div>
            <div id="menu-button"><i data-lucide="menu"></i></div>
            <nav id="menu">
                <ul>
                    <li class="{% is_active 'home' %}"><a href="{% url 'home' %}">Home</a></li>
                    <li class="{% is_active 'about' %}"><a href="{% url 'about' %}">About</a></li>
                    <li class="{% is_active 'contact' %}"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p class="legal">&copy; 2024 My Django Website | Build by</p>
        </div>
    </footer>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{% static 'js/styles.js' %}"></script>
    {% block extra_js %}
    <!-- Additional scripts go here -->
    {% endblock %}
</body>
</html>
